
@{
    ViewBag.Title = "AccountManage";
}

<!-- ======= 2.01 Page Title Area ====== -->

<div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">Welcome David!</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">my account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= /2.01 Page Title Area ====== -->

<div class="dashboardArea secPdngB animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="boardMenu">
                    <ul>
                        <li class="active"><a href="accountManage.html">My Account</a></li>
                        <li><a href="domainManage.html">Domain Management</a></li>
                        <li><a href="hostManage.html">Hosting Management</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="boardTitle">
                    <div class="h4">Account settings:</div>
                </div>
                <form action="#" class="accountForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="accountInput">
                                <div class="h5">Your Name:</div>
                                <input type="text" placeholder="Enter your full name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accountInput">
                                <div class="h5">Password:</div>
                                <input type="password" placeholder="*********">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accountInput">
                                <div class="h5">Email:</div>
                                <input type="email" placeholder="email@sitename.com">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accountInput">
                                <div class="h5">Confirm Password:</div>
                                <input type="password" placeholder="*********">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="submitBtn">
                                <input type="submit" value="Update setting">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="sectionBar"></div>


