
@{
    ViewBag.Title = "Checkout";
}

<!-- ======= 2.01 Page Title Area ====== -->

<div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">Checkout</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= /2.01 Page Title Area ====== -->

<div class="cartArea secPdngB">
    <div class="container">
        <form action="#" class="row">
            <div class="col-md-12 animated">
                <div class="checkTitle">Have an account already? <a href="#">Login now</a></div>
            </div>
            <div class="col-lg-6 animated">
                <div class="checkoutWrep">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bill">Billing Details</div>
                        </div>
                        <div class="col-md-6">
                            <span class="inputTitle">First name:</span>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <span class="inputTitle">Last name:</span>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <span class="inputTitle">Email address:</span>
                            <input type="email">
                        </div>
                        <div class="col-md-6">
                            <span class="inputTitle">Phone number:</span>
                            <input type="text">
                        </div>
                        <div class="col-md-12">
                            <span class="inputTitle">Address Line 1:</span>
                            <input type="text">
                        </div>
                        <div class="col-md-12">
                            <span class="inputTitle">Address Line 2:</span>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <span class="inputTitle">Town:</span>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <span class="inputTitle">State:</span>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 animated">
                <div class="cartTotal">
                    <div class="h4 title">Cart Total:</div>
                    <div><span class="subTotal">Subtotal:</span> <span>$25</span></div>
                    <div><span class="Total">Total:</span> <span>$25</span></div>
                    <button type="submit" class="totalBtn">Proceed to checkout <i class="icofont icofont-long-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="sectionBar"></div>


