
@{
    ViewBag.Title = "DomainManage";
}

<!-- ======= 2.01 Page Title Area ====== -->
<div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">Welcome David!</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">domain management</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->
<div class="dashboardArea secPdngB animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="boardMenu">
                    <ul>
                        <li><a href="accountManage.html">My Account</a></li>
                        <li class="active"><a href="domainManage.html">Domain Management</a></li>
                        <li><a href="hostManage.html">Hosting Management</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="boardTitle">
                    <div class="h4">Your registered domains:</div>
                </div>
                <ul class="regDomains">
                    <li>
                        <div class="domainName"><a href="#">www.sitename.com</a></div>
                        <ul class="editDomain">
                            <li><a href="#">Configure</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="domainName"><a href="#">www.spark.net</a></div>
                        <ul class="editDomain">
                            <li><a href="#">Configure</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="domainName"><a href="#">www.design360studios.com</a></div>
                        <ul class="editDomain">
                            <li><a href="#">Configure</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sectionBar"></div>

