
@{
    ViewBag.Title = "Faq";
}

<!-- ======= 2.01 Page Title Area ====== -->
<div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">FAQ</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">faq</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->
<!-- ======= 4.02 Faq Area ====== -->
<div class="faqArea secPdng">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle animated">
                    <div class="h2">Have a question in mind? <br>Feel free to <span>check common questions.</span> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="singleFaq animated">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com odo consequat.</p>
                </div>
                <div class="singleFaq animated">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
                <div class="singleFaq animated">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com odo consequat.</p>
                </div>
                <div class="singleFaq animated">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
                <div class="singleFaq animated">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com odo consequat.</p>
                </div>
                <div class="singleFaq animated">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /4.02 Faq Area ====== -->
<!-- ======= 3.02 Domain cta Area ====== -->
<div class="domainCtaArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="domainCta">
                    <div class="h2">20,000+ People trust Sparks! Be one of them today.</div>
                    <a href="#" class="ctaBtn Btn">get started now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /3.02 Domain cta Area ====== -->
