@{
    ViewBag.Title = "TecOn";
}

<div class="preloader">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>



<!-- ======= 1.02 Home Area ====== -->
<div class="homeArea animated">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="homeImgTable">
                    <div class="homeImg">
                        <img src="/img/Design sem nome (5).png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-7">
                <div class="homeContent">
                    <span class="topTxt">Simple &nbsp; - &nbsp; Easy to use &nbsp; - &nbsp; 10x faster!</span>
                    <span class="h2 homeTitle">Best web hosting service for your website.</span>
                    <p>Get the best speed for your website. Don’t lose anymore <br>clients for the slowest speed of your hosting service.</p>
                    <div class="homeBtn">
                        <a href="#" class="btnOne Btn"><i class="icofont icofont-rocket-alt-2"></i>Get Started Now</a>
                        <a href="#" class="btnTwo Btn">check pricing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clouds">
            <img src="/img/clouds/cloud-1.png" alt="" class="cloud1">
            <img src="/img/clouds/cloud-2.png" alt="" class="cloud2">
            <img src="/img/clouds/cloud-3.png" alt="" class="cloud3">
            <img src="/img/clouds/cloud-4.png" alt="" class="cloud4">
            <img src="/img/clouds/cloud-5.png" alt="" class="cloud5">
        </div>
    </div>
</div>
<!-- ======= /1.02 Home Area ====== -->
<!-- ======= 1.03 Domain Area ====== -->
<div class="domainArea" background="/img/15402049369995744.jpg">
    <div class="container animated">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="domainTxt">
                    <p>Search your domain, <br>purchase one.</p>
                </div>
                <form action="/HOME/DomainSearch" class="domainForm" method="get">
                    <!-- replace domainSearch.html with your php file -->
                    <div class="domainTop">
                        <input type="search" name="search" placeholder="Digite seu nome de domínio aqui">
                        <input type="submit" name="submit" value="Procurar">
                    </div>
                    <div class="domainCheck">
                        <span class="com"><input type="checkbox" id="com" name="com" value="com"> .com ($8.99) <label for="com"></label></span>
                        <span class="net"><input type="checkbox" id="net" name="net" value="net"> .net ($4.99)<label for="net"></label></span>
                        <span class="org"><input type="checkbox" id="org" name="org" value="org"> .org ($11.99)<label for="org"></label></span>
                        <span class="in"><input type="checkbox" id="in" name="in" value="in"> .in ($8.99)<label for="in"></label></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ======= /1.03 Domain Area ====== -->
<!-- ======= 1.04 Service Area ====== -->
<div class="serviceArea secPdng animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle">
                    <div class="h2">Muitos serviços de hospedagem na cidade. <br>Por que você deve <span>nos escolher?</span></div>
                </div>
            </div>
        </div>
        <div class="row service">
            <div class="col-md-4">
                <div class="singleService">
                    <div class="serviceIcon">
                        <img src="img/icon/gear.png" alt="">
                    </div>
                    <div class="serviceContent">
                        <span class="h3">Fácil Personalizar</span>
                        <p>
                            Easily configurable with your popular CMS
                            <br />platforms - Wordpress, Joomla & more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleService">
                    <div class="serviceIcon">
                        <img src="img/icon/cloud-up.png" alt="">
                    </div>
                    <div class="serviceContent">
                        <span class="h3">99% do tempo de atividade do servidor</span>
                        <p>
                            Facilmente configurável com o seu popular CMS
                            <br />plataformas - Wordpress, Joomla e muito mais.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleService">
                    <div class="serviceIcon">
                        <img src="img/icon/care-support.png" alt="">
                    </div>
                    <div class="serviceContent">
                        <span class="h3">Suporte ao cliente 24/7</span>
                        <p>
                            Facilmente configurável com o seu popular CMS
                            <br />plataformas - Wordpress, Joomla e muito mais.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleService">
                    <div class="serviceIcon">
                        <img src="img/icon/serv-04.png" alt="">
                    </div>
                    <div class="serviceContent">
                        <span class="h3">Design Limpo e Mínimo</span>
                        <p>
                            Facilmente configurável com o seu popular CMS
                            <br />plataformas - Wordpress, Joomla e muito mais.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleService">
                    <div class="serviceIcon">
                        <img src="img/icon/serv-05.png" alt="">
                    </div>
                    <div class="serviceContent">
                        <span class="h3">Secured Server</span>
                        <p>Easily configurable with your popular CMS <br>platforms - Wordpress, Joomla & more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleService">
                    <div class="serviceIcon">
                        <img src="img/icon/serv-06.png" alt="">
                    </div>
                    <div class="serviceContent">
                        <span class="h3">Live Chat Support</span>
                        <p>Easily configurable with your popular CMS <br>platforms - Wordpress, Joomla & more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /1.04 Service Area ====== -->

<div class="sectionBar"></div>


<!-- ======= 1.06 Cta Area ====== -->
<div class="ctaArea secPdngB animated">
    <div class="container">
        <div class="row ctaRow">
            <div class="col-md-6">
                <div class="ctaImgOne">
                    <img src="/img/1_N4ZpKOX8bxgUFOC4y7MWKQ.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-6 ctaCol">
                <div class="ctaRight ctaTxt">
                    <div class="ctaCell">
                        <div class="h2">Servidor dedicado e seguro para o seu site.</div>
                        <p>Obtenha a melhor velocidade para o seu site. Não perca mais  <br>clientes pela velocidade mais lenta do seu serviço de hospedagem.</p>
                        <a href="#" class="ctaBtn Btn"><i class="icofont icofont-rocket-alt-2"></i>começa agora</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ctaCol">
                <div class="ctaLeft ctaTxt">
                    <div class="ctaCell">
                        <div class="h2">Super velocidade para o seu site para impressionar o visitante.</div>
                        <p>Obtenha a melhor velocidade para o seu site. Não perca mais <br>clientes pela velocidade mais lenta do seu serviço de hospedagem.</p>
                        <div class="ctaBtn">
                            <a href="#" class="btnOne Btn">ler mais</a>
                            <a href="#" class="btnTwo Btn">começa agora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 ctaColBtm">
                <div class="ctaImgTwo">
                    <img src="/img/349409-back-up-your-cloud-how-to-download-all-your-data.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /1.06 Cta Area ====== -->
<!-- ======= 1.07 client Area ====== -->
<div class="clientArea secPdng animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle">
                    <div class="h2">Damos um <span>serviço incrível,</span><br>alguns dos nossos clientes confiáveis.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="singleClient"><a href="#"><img src="img/client-1.png" alt=""></a></div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="singleClient"><a href="#"><img src="img/client-2.png" alt=""></a></div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="singleClient"><a href="#"><img src="img/client-3.png" alt=""></a></div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="singleClient"><a href="#"><img src="img/client-4.png" alt=""></a></div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="singleClient"><a href="#"><img src="img/client-5.png" alt=""></a></div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="singleClient"><a href="#"><img src="img/client-6.png" alt=""></a></div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /1.07 client Area ====== -->
<!-- ======= 1.08 ctaTwo Area ====== -->
<div class="ctaTwo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animated">
                <span class="ctaTxtTwo">Mais de 20.000 pessoas confiam em Sparks! Seja um deles hoje.</span>
                <div class="ctaBtn"><a href="#" class="btnOne Btn">Começa agora</a></div>
            </div>
        </div>
    </div>
</div>
