
@{
    ViewBag.Title = "Support";
}

<!-- ======= 2.01 Page Title Area ====== -->
<div class="pageTitleArea">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">Support</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->
<div class="supportArea secPdng padTopNone">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animated">
                <form action="#" class="serachForm">
                    <input type="search" placeholder="Facing a problem? Try searching here...">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="col-lg-7 animated">
                <form action="#" class="supportForm">
                    <div class="supportTitle h3">Didn’t find what you want? <span> Open a ticket now!</span></div>
                    <div class="subTitle">We are very responsive in our service. You will get reply within 24 hours.</div>
                    <div class="supportInput">
                        <input type="text" placeholder="Full Name *">
                        <input type="email" placeholder="Email Address *">
                        <div class="supportSelect">
                            <select name="supportSelect">
                                <option value="">What type of support you want?</option>
                                <option value="host">Support for hosting.</option>
                                <option value="domain">Support for domain register.</option>
                                <option value="other">Support for other problem.</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Subject">
                        <textarea placeholder="Type your message here"></textarea>
                        <div class="fileInput">
                            <span class="fileTxt">Drag and Drop or</span>
                            <span class="fileSpan">
                                <input type="file" id="file" name="file" class="inputfile">
                                <label for="file">Browse</label>
                            </span>
                            <span class="fileTxt">your file here</span>
                        </div>
                        <div class="captcha" data-toggle="tooltip" data-placement="top" title="Active Me!"><span></span> I am not a robot</div>
                        <input type="submit" value="Submit your ticket">
                    </div>
                </form>
            </div>
            <div class="col-lg-5 animated">
                <div class="supportFaq">
                    <div class="supportTitle h3">Try to find some common answers:</div>
                    <div class="subTitle">Here you will find some common question that can help you!</div>
                    <dl class="accordion style2">
                        <dt class="active">Duis autem vel eum iriure dolor in  velit?</dt>
                        <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molest consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accum san et iusto odio dignissim..</dd>
                        <dt>Esum dolor sit amet, consectetuer adipiscing elit, sed diam?</dt>
                        <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molest consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accum san et iusto odio dignissim..</dd>
                        <dt>Duis autem vel eum iriure dolor in  velit?</dt>
                        <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molest consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accum san et iusto odio dignissim..</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sectionBar"></div>


