
@{
    ViewBag.Title = "Testimonial";
}

<!-- ======= 2.01 Page Title Area ====== -->
<div class="pageTitleArea">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">Testimonials</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">Testimonial</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->
<!-- ======= 5.01 Testimonial Area ====== -->
<div class="testimonialArea secPdng">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="singleTst animated">
                    <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                    <span class="clientName">David Ramon</span>
                    <a href="#">www.sitename.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /5.01 Testimonial Area ====== -->
<!-- ======= 3.02 Domain cta Area ====== -->
<div class="domainCtaArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="domainCta">
                    <div class="h2">20,000+ People trust Sparks! Be one of them today.</div>
                    <a href="#" class="ctaBtn Btn">get started now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /3.02 Domain cta Area ====== -->
