
@{
    ViewBag.Title = "VpnHosting";
}

<!-- ======= 2.01 Page Title Area ====== -->
<div class="pageTitleArea  animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle">
                    <div class="h2">VPN hosting</div>
                    <ul class="pageIndicate">
                        <li><a href="">home</a></li>
                        <li><a href="">vpn hosting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->
<!-- ======= 4.01 Step Area ====== -->
<div class="stepArea secPdng animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle">
                    <div class="h2">We do our task perfectly. <br>See how <span>web hosting</span> will work.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="singleStep">
                    <div class="stepNo">1</div>
                    <div class="stepContent">
                        <div class="h4">Order</div>
                        <p>Lorem ipsum dolor sit amet, consec <br>tetuer adipiscing elit, sed diam nonum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleStep">
                    <div class="stepNo">2</div>
                    <div class="stepContent">
                        <div class="h4">Setup</div>
                        <p>Lorem ipsum dolor sit amet, consec <br>tetuer adipiscing elit, sed diam nonum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="singleStep">
                    <div class="stepNo">3</div>
                    <div class="stepContent">
                        <div class="h4">Enjoy!</div>
                        <p>Lorem ipsum dolor sit amet, consec <br>tetuer adipiscing elit, sed diam nonum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /4.01 Step Area ====== -->
<!-- ======= 1.05 Pricing Area ====== -->
<div class="pricingArea secPdng animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle">
                    <div class="h2">Pay for what you <span>actually</span> use. No hidden charge!</div>
                </div>
            </div>
        </div>
        <div class="row price clearfix">
            <div class="col-lg-3 offset-lg-0 priceCol col-md-5 offset-md-1">
                <div class="singlePrice">
                    <div class="priceHead">
                        <span class="priceTitle">Personal</span>
                        <div class="priceImg">
                            <img src="img/icon/user.png" alt="">
                        </div>
                        <div class="currency">$3<span>/mo</span></div>
                        <p>best for personal use</p>
                    </div>
                    <ul class="priceBody">
                        <li><i class="icofont icofont-ui-check"></i>10GB Space</li>
                        <li><i class="icofont icofont-ui-check"></i>1 Free Domain</li>
                        <li><i class="icofont icofont-ui-check"></i>300GB SSD Disk</li>
                        <li><i class="icofont icofont-ui-close"></i>Special Offers</li>
                        <li><i class="icofont icofont-ui-check"></i>Unlimited Support</li>
                    </ul>
                    <a href="" class="priceBtn Btn">Get Started now</a>
                </div>
            </div>
            <div class="col-lg-3 priceCol col-md-5">
                <div class="singlePrice active">
                    <div class="priceHead">
                        <span class="priceTitle">small team</span>
                        <div class="priceImg">
                            <img src="img/icon/users.png" alt="">
                        </div>
                        <div class="currency">$7<span>/mo</span></div>
                        <p>best for personal use</p>
                    </div>
                    <ul class="priceBody">
                        <li><i class="icofont icofont-ui-check"></i>10GB Space</li>
                        <li><i class="icofont icofont-ui-check"></i>1 Free Domain</li>
                        <li><i class="icofont icofont-ui-check"></i>300GB SSD Disk</li>
                        <li><i class="icofont icofont-ui-close"></i>Special Offers</li>
                        <li><i class="icofont icofont-ui-check"></i>Unlimited Support</li>
                    </ul>
                    <a href="" class="priceBtn Btn">Get Started now</a>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-0 priceCol col-md-5 offset-md-1">
                <div class="singlePrice">
                    <div class="priceHead">
                        <span class="priceTitle">company</span>
                        <div class="priceImg">
                            <img src="img/icon/home.png" alt="">
                        </div>
                        <div class="currency">$15<span>/mo</span></div>
                        <p>best for personal use</p>
                    </div>
                    <ul class="priceBody">
                        <li><i class="icofont icofont-ui-check"></i>10GB Space</li>
                        <li><i class="icofont icofont-ui-check"></i>1 Free Domain</li>
                        <li><i class="icofont icofont-ui-check"></i>300GB SSD Disk</li>
                        <li><i class="icofont icofont-ui-close"></i>Special Offers</li>
                        <li><i class="icofont icofont-ui-check"></i>Unlimited Support</li>
                    </ul>
                    <a href="" class="priceBtn Btn">Get Started now</a>
                </div>
            </div>
            <div class="col-lg-3 priceCol col-md-5">
                <div class="singlePrice">
                    <div class="priceHead">
                        <span class="priceTitle">big shot</span>
                        <div class="priceImg">
                            <img src="img/icon/earth.png" alt="">
                        </div>
                        <div class="currency">$25<span>/mo</span></div>
                        <p>best for personal use</p>
                    </div>
                    <ul class="priceBody">
                        <li><i class="icofont icofont-ui-check"></i>10GB Space</li>
                        <li><i class="icofont icofont-ui-check"></i>1 Free Domain</li>
                        <li><i class="icofont icofont-ui-check"></i>300GB SSD Disk</li>
                        <li><i class="icofont icofont-ui-close"></i>Special Offers</li>
                        <li><i class="icofont icofont-ui-check"></i>Unlimited Support</li>
                    </ul>
                    <a href="" class="priceBtn Btn">Get Started now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /1.05 Pricing Area ====== -->
<!-- ======= 4.02 Faq Area ====== -->
<div class="faqArea secPdng animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle">
                    <div class="h2">Have a question in mind? <br>Feel free to <span>check common questions.</span> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="singleFaq">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com odo consequat.</p>
                </div>
                <div class="singleFaq">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
                <div class="singleFaq">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com odo consequat.</p>
                </div>
                <div class="singleFaq">
                    <div class="faqTitle">Duis autem vel eum iriure dolor in hendrerit in vulputate?</div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- ======= /4.02 Faq Area ====== -->
<!-- ======= 3.02 Domain cta Area ====== -->
<div class="domainCtaArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="domainCta">
                    <div class="h2">20,000+ People trust Sparks! Be one of them today.</div>
                    <a href="#" class="ctaBtn Btn">get started now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /3.02 Domain cta Area ====== -->
